.hero-full-width {
    background-image: url("../../../assets/imgs/laptop.jpg");
    background-position: center;
    background-size: cover;
    // height: 400px;
    padding: 8rem 2rem;
    color: white;
}