.testimonials {

    background-color: $testimonials-bg-color;
    padding: 1rem;


    p {
        margin: 0;
    }

    .tes-testimonial {
        background-color: $quotebox-color;
        padding: 30px;
    }

    .arrow-down {
        margin-left: 20px;
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
        border-top: 20px solid $quotebox-color;
      }
      

    .tes-person {
        display: flex;
        margin: 0.4rem;
        align-items: center;

        .tes-avatar {
            width: 80px;
            height: 80px;
            float: left;
            margin-right: 1rem;
        }

        .tes-avatar::after{
            float: clear;
        }

        .tes-full-name {
            // margin-top: 22px;
            font-weight: 700;
            font-size: 20px;
        }

        .tes-company {
            font-weight: 400;
            font-size: 16px;
            font-style: italic;
        }
    }
}